<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'logo.png' %>
  <title>Ecommerce</title>

</head>

<body class="carcasona-body">

<!--/.NAVBAR END-->

<section id="home" class="text-center">

  <div id="carousel-example" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="item active">

        <%= image_tag '1a.jpg' , :class => "img-responsive" , :alt => "slide" %>
        <div class="carousel-caption"><h2 class="animated fadeInDown">Leading brand of London & Paris</h2>
          <p class="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag '2a.jpg' , :class => "img-responsive"  , :alt => "slide" %>
        <div class="carousel-caption"><h2  class="animated fadeInDown">Leading brand of London & Paris</h2>
          <p class="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag '3a.JPG' , :class => "img-responsive" , :alt => "slide" %>
        <div class="carousel-caption"><h2  class="animated fadeInDown">Leading brand of London & Paris</h2>
          <p class="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
  </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>
  </div>

</section>
<!--/.SLIDESHOW END-->


</body>
</html>